{
    "$schema": "https://json.schemastore.org/swcrc",
    "jsc": {
        "parser": {
            "syntax": "typescript",
            "tsx": false
        },
        "loose": false,
        "target": "es2021",
        "preserveAllComments": false
    },
    "minify": true,
    "module": {
        "type": "commonjs"
    }
}
